*
{
	margin:0px;
	padding:0px;
}
#general
{
	
	margin:auto;
	border-radius:500%;
	margin-top:50px;
	width:600px;
	height:600px;
	background-color:aquamarine;
}
#caja1
{
	margin:auto;
	margin-top:120px;
	margin-left:60px;
	border-radius:250%;
	width:150px;
	height:150px;
	float:left;
	background-color:yellow;
}
#caja2
{
	
	margin:auto;
	margin-top:120px;
	margin-right:60px;
	border-radius:250%;
	width:150px;
	height:150px;
	float:right;
	background-color:yellow;
}
#caja3
{
	margin:auto;
	margin-top:50px;
	border-radius:50%;
	width:60px;
	height:60px;
	background-color:lightblue;
}
#caja4
{
	margin:auto;
	margin-top:340px;
	border-radius:20%;
	width:400px;
	height:100px;
	background-color:purple;
}